$bg-success-color:#0d6efd;
$bg-danger-color:#198754;
$bg-secondary-color:#f8061e;

.btn{
border:none;
padding: 10px;
border-radius: 5px;

}
.btn-success{
    background-color:$bg-success-color;
}
.btn-danger{
   background-color:  $bg-danger-color;
}
.btn-secondary{
    background-color:$bg-secondary-color ;
}
@mixin button($bg-color,$text-color){
    background-color: $bg-color;
    color: $text-color;
    border-radius: 5px;
    font-size: 16px;
    text-transform: uppercase;
    cursor: alias;
    &:hover{
        background-color: darkblue($bg-color,11%);
    }
}
.button-primary{
    @include button(#3498db, #fff)
}
